/*--------------------------------css语句~注册页面-------------------------------------------------*/
/*----------------------------------购物车外框设置---------------------------------------------------------*/
.cartWrap{width:100%;height:462px;background:#fef1ef;}
.cartArea{width:1180px;height:516px;}

/*----------------------------------登陆方式设置---------------------------------------------------------*/











